.btn-update-data {
  background-color: white;
  border-color: rgb(32, 8, 245);
  border-radius: 10px;
  border-width: 2px;
}

.btn-update-data:focus {
  box-shadow: 0 0 0 0.2rem rgb(66, 156, 251);
}

.btn-update-data:hover {
  background-color: rgb(66, 156, 251);
  color: white;
}

.btn-done-data {
  background-color: white;
  border-color: rgb(147, 234, 204);
  border-radius: 10px;
  border-width: 2px;
}

.btn-done-data:focus {
  box-shadow: 0 0 0 0.2rem rgb(147, 234, 204);
}

.btn-done-data:hover {
  background-color: rgb(147, 234, 204);
  color: white;
}

.btn-remove-data {
  background-color: white;
  border-color: rgb(234, 147, 159);
  border-radius: 10px;
  border-width: 2px;
}

.btn-remove-data:focus {
  box-shadow: 0 0 0 0.2rem rgb(234, 147, 159);
}

.btn-remove-data:hover {
  background-color: rgb(234, 147, 159);
  color: white;
}

.group-label-text {
  background-color: transparent;
  border: 0px;
  color: rgba(2, 105, 147, 1);
  font-size: small;
}

.btn-action {
  background-color: rgba(2, 105, 147, 1);
  font-size: small;
}

.label-header {
  font-size: small;
  color: rgba(2, 105, 147, 1);
  font-weight: bold;
}